.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 0px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #2f90ed;
}
