.footer {
  background-color: #0f2444;
}

.footer__content {
  font-family: "Orbitron", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin: 0 0 0;
  color: #f008f8;
}
